{% extends 'base.html.twig' %}

{% block body %}
<div class = "container text-center">
<h1> Pointage actuellement enregistré</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Jour</th>
                <th scope="col">Poste</th>
                <th scope="col">Arrivé</th>
                <th scope="col">Arrivé Pointé</th>
                <th scope="col">Depart</th>
                <th scope="col">Départ Pointé</th>
                <th scope="col">Heure Base </th>
                <th scope="col">Heure Sup </th>
            </tr>
        </thead>
        <tbody>
        {% for pointage in allpointage %} 
            <tr>
                <!-- <th scope="row">1</th> -->
                <td>{{ pointage.getJour().format('d-m-Y') }}</td>
                <td>{{ pointage.getPoste()}}</td>
                {% if pointage.getArrive() is empty %}
                    <td> Pas de pointage enregistré </td>
                {% else %}
                    <td>{{ pointage.getArrive().format('G:i')}}</td>
                {% endif %}
                {% if pointage.getArrivepointage() is empty %}
                   <td> Pas de pointage enregistré </td>
                {% else %}
                    <td>{{ pointage.getArrivepointage().format('G:i')}}</td>
                {% endif %}
                {% if pointage.getDepart() is empty %}
                    <td> Pas de pointage enregistré </td>
                {% else %}
                    <td>{{ pointage.getDepart().format('G:i')}}</td>
                {% endif %}
                {% if pointage.getDepartpointage() is empty %}
                    <td> Pas de pointage enregistré </td>
                {% else %}
                    <td>{{ pointage.getDepartpointage().format('G:i')}}</td>
                {% endif %}
                {% if pointage.getHeure() is empty %}
                    <td> 0 </td>
                {% else %}
                    <td>{{ pointage.getHeure()}}</td>
                {% endif %}
                {% if pointage.getHeuresup() is empty %}
                    <td> 0 </td>
                {% else %}
                    <td>{{ pointage.getHeuresup()}}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>
{% endblock %}